<section class="page-header">
  <span id="header-content">
    <h1 class="project-name"><a href="/" style="color:white;text-decoration:none;">{{ site.title }}</a></h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="https://www.ndt3.me/r/github" class="btn">GitHub</a>
    <a href="hhttps://www.ndt3.me/r/twitter" class="btn">Twitter</a>
    <a href="https://blog.ndt3.me" class="btn">Blog</a>
    <a href="https://www.ndt3.me/r/discord" class="btn">Discord</a>
    <!--  <a href="https://status.ndt3.me" class="btn">Website Status Page</a>--> 
  </span>
</section>
