---
import Layout from '../layouts/Layout.astro';
import ContactForm from 'snowmail/astro/ContactForm.astro';

// TODO: Figure out why this form doesn't work after view transitions
---

<Layout title="Contact">
	<h1>Contact</h1>

  <ContactForm
    url="https://snowmail.binaryfrost.net"
    id="663b83c651db8d58fc58b85d"
    providerProps={{
      defaultColorScheme: 'dark'
    }}
    ssr />
</Layout>
