---
import SocialIcon from './SocialIcon.astro';
---

<div class="d-flex">
  <SocialIcon icon="bi:github" label="GitHub" url="https://github.com/TrueWinter" />
  <SocialIcon icon="bi:discord" label="Discord" url="https://discord.com/invite/scHhZcK" />
  <SocialIcon icon="bi:twitter" label="Twitter" url="https://twitter.com/TrueWinterTech" />
  <SocialIcon icon="bi:linkedin" label="LinkedIn" url="https://www.linkedin.com/in/nicholis-du-toit/" />
</div>