<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


    <section class="main-content">

      Please wait... (if you are not redirected within a few seconds, please ensure that you have javascript enabled)
      <script>
      function q(n, u) {
        if (!u) u = window.location.href;
          n = n.replace(/[\[\]]/g, "\\$&");
          var r = new RegExp("[?&]" + n + "(=([^&#]*)|&|#|$)"),
              p = r.exec(u);
          if (!p) return null;
          if (!p[2]) return '';
          return decodeURIComponent(p[2].replace(/\+/g, " "));
      }
      function r(t) {
        switch (t) {
          case "blog":
            window.location.href = "https://blog.ndt3.me";
            break;
          case "github":
            window.location.href = "https://github.com/NdT3Development";
            break;
          case "twitter":
            window.location.href = "https://twitter.com/NdT3_";
            break;
	 case "cms":
		 window.location.href = "https://blog.ndt3.me/admin";
		break;
          default:
            window.location.href = "/";
        }
      }
      var v = q('to');
      r(v);
      </script>


    </section>

	{% include analytics.html %}

  </body>
</html>
